<div class="login modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center pb-4">
                    <span>{{title}}</span>
                    <button type="btn float-right" class="close" ng-click="closeProfile()"><i class="fa fa-times" aria-hidden="true"></i></button>
                </h2>
                <!-- Profile Form -->
                <form name="profileForm">
                    <div class="image-upload text-center">
                        <label for="file-input">
                            <img data-ng-src="{{photo}}" ng-class="{ 'handCursor': edit }" class="rounded"/>
                        </label>
                        <input
                            type="file"
                            id="file-input"
                            picread="selectedPhoto"
                            context="context"
                            ng-disabled="!edit"
                            accept="image/jpeg"
                            style="display: none;" />
                    </div>
                    <div class="input-group pb-2 pt-2">
                        <div class="input-group-addon"><i class="fa fa-address-book fa-fw" aria-hidden="true"></i></div>
                        <input
                            type="firstname"
                            name="firstname"
                            placeholder="{{firstnamePh}}"
                            class="form-control text-capitalize"
                            ng-model="firstname"
                            ng-disabled="!edit"/>
                        <input
                            type="lastname"
                            name="lastname"
                            placeholder="{{lastnamePh}}"
                            class="form-control text-capitalize"
                            ng-model="lastname"
                            ng-disabled="!edit"/>
                    </div>
                    <div class="input-group pb-2">
                        <div class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></div>
                        <input
                            type="email"
                            name="email"
                            placeholder="{{username}}"
                            class="form-control"
                            disabled/>
                    </div>
                    <div class="input-group pb-2">
                        <div class="input-group-addon"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i></div>
                        <input
                            placeholder="{{role}}"
                            type="text"
                            name="role"
                            class="form-control text-capitalize"
                            disabled/>
                    </div>
                    <div
                        class="input-group pb-2"
                        ng-show="edit"
                        ng-class="{ 'has-danger':
                                        profileForm.password.$dirty &&
                                        (profileForm.password.$invalid || profileForm.password.$error.minlength),
                                   'has-success': profileForm.password.$valid && profileForm.password.$dirty}">
                        <div class="input-group-addon"><i class="fa fa-unlock-alt fa-fw" aria-hidden="true"></i></div>
                        <input
                            placeholder="Old Password"
                            type="password"
                            name="password"
                            class="form-control"
                            ng-minlength="5"
                            ng-model="password"
                            ng-required="edit && profileForm.password.$dirty" />
                    </div>
                    <div
                        class="input-group pb-2"
                        ng-show="edit"
                        ng-class="{ 'has-danger':
                                        profileForm.newPassword.$dirty &&
                                        (profileForm.newPassword.$invalid ||
                                        profileForm.newPassword.$error.minlength ),
                                    'has-success': profileForm.newPassword.$valid && profileForm.password.$dirty}">
                        <div class="input-group-addon"><i class="fa fa-check-circle fa-fw" aria-hidden="true"></i></div>
                        <input
                            placeholder="New Password"
                            type="password"
                            name="newPassword"
                            class="form-control"
                            ng-minlength="5"
                            ng-model="newPassword"
                            ng-disabled="!profileForm.password.$dirty || profileForm.password.$invalid"
                            ng-required="edit && profileForm.password.$dirty"/>
                    </div>
                    <!-- Error Message -->
                    <div ng-if="error" class="alert alert-danger alert-dismissible fade show pt-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{error}}
                    </div>
                    <div class="text-center pt-1">
                        <button
                            type="button"
                            class="btn"
                            ng-class="{'btn-danger btn-outline-primary' : !edit,
                                       'btn-success btn-outline-success': edit}"
                            ng-click="editProfile()">
                                <span ng-show="loading">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                </span>
                                {{editTitle}}
                            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
