<div class="sidebar bg-primary" id="sidebar-wrapper" ng-controller="Sidebar.Controller">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <div class="container-fluid p-0 m-0">
                <a href="#">
                    <i class="fa fa-linode fa-2x align-middle pr-2" aria-hidden="true" style="color: #5DC461"></i>
                    <strong>
                        Active Learning
                    </strong>
                </a>
            </div>
        </li>
        <li>
            <a ui-sref=".admin" ng-show="$storage.role === 'admin'"><i class="fa fa-tachometer pr-3" aria-hidden="true"></i>Dashboard</a>
            <a ui-sref=".instructor" ng-show="$storage.role === 'instructor'"><i class="fa fa-tachometer pr-3" aria-hidden="true"></i>Dashboard</a>
            <a ui-sref=".student" ng-show="$storage.role === 'student'"><i class="fa fa-tachometer pr-3" aria-hidden="true"></i>Dashboard</a>
        </li>
        <li ng-show="$storage.role === 'admin'">
            <a ui-sref=".admin_keys"><i class="fa fa-key pr-3" aria-hidden="true"></i>Keys</a>
        </li>
        <li ng-hide="$storage.role === 'admin'">
            <a
                href="#classList"
                data-toggle="collapse"
                aria-expanded="{{$storage.classExpand}}"
                aria-controls="classList"
                ng-click="$storage.classExpand = !$storage.classExpand">
                    <i class="fa fa-book pr-3 mr-auto" aria-hidden="true"></i>
                    Courses
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <div class="collapse" id="classList">
                <ul>
                    <li ng-repeat="course in $storage.courses">
                        <a ui-sref=".student_course" ng-click="courseClick($index)" ng-show="$storage.role === 'student'">{{course.title}}</a>
                        <a ui-sref=".instructor_course" ng-click="courseClick($index)" ng-show="$storage.role === 'instructor'">{{course.title}}</a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- <li>
            <a href=""><i class="fa fa-graduation-cap pr-3" aria-hidden="true"></i>Students</a>
        </li>
        <li>
            <a href=""><i class="fa fa-area-chart pr-3" aria-hidden="true"></i>Analytics</a>
        </li> -->
    </ul>
</div>
