<div class="login modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <button type="btn float-right" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <div ng-bind-html="title"></div>
                    <div ng-bind-html="body"></div>
                    <div class="d-flex justify-content-end pt-2">
                        <span class="badge badge-default mr-1 text-uppercase" ng-repeat="tag in tags">{{tag}}</span>
                    </div>
                    <div class="pt-4">
                        <div ng-repeat="choice in choices">
                            <div class="pretty circle success">
                                <input type="radio" name="answers">
                                <label class="pt-2"><i class="fa fa-check"></i> {{choice.text}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
