<div class="container-fluid p-2 animated fadeIn height-100" ng-controller="Instructor.Edit.Question.Controller">
    <table ng-table="tableParams" class="table table-sm table-bordered table-hover text-center">
        <tr ng-repeat="question in $data">
            <td class="align-middle text-capitalize" title="'Title'" sortable="'title'">
                {{question.title}}
            </td>
            <td class="align-middle" title="'Copied'" sortable="'copied'">
                <span class="badge" ng-class="{ 'badge-success': !data.copied, 'badge-warning': data.copied }">Owner</span>
            </td>
            <td class="align-middle text-capitalize" title="'Tags'">
                <span class="badge badge-default mr-1 text-uppercase" ng-repeat="tag in question.tags">{{tag}}</span>
            </td>
            <td class="align-middle" title="'Manage'">
                <div class="btn-group btn-group-sm" role="group">
                    <button class="btn btn-sm btn-secondary" type="button" ng-click="viewQuestion(question)">
                        <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                    </button>
                    <button ng-disabled="question.copied" class="btn btn-sm btn-secondary" type="button" ng-click="editQuestion(question)">
                        <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm btn-secondary" type="button" confirmed-click="deleteQuestion(question)" ng-confirm-click="Are you sure you want to delete {{question.title}}?">
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
