<div class="container-fluid p-3" ng-controller="Instructor.Edit.Question.Controller">
    <table ng-table="tableParams" class="table table-sm table-bordered table-hover text-center">
        <tr ng-repeat="question in $data">
            <td class="align-middle text-capitalize" title="'Title'" sortable="'title'">
                {{question.title}}
            </td>
            <td class="align-middle" title="'Copied'" sortable="'copied'">
                {{question.copied}}
            </td>
            <td class="align-middle text-capitalize" title="'Tags'">
                <span class="badge badge-default mr-1 text-uppercase" ng-repeat="tag in question.tags">{{tag}}</span>
            </td>
            <td class="align-middle" title="'Edit'">
                <button
                    type="button"
                    class="btn btn-info btn-sm">Edit</button>
            </td>
        </tr>
    </table>
</div>
