@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lobster');
html, body, input, button, select, ul, li, auto-complete, label {
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    text-rendering: optimizeLegibility !important;
}

html, body {
    background-color: white;
    color: #2D2A2A;
    font-weight: 400;
    height: 100%;
    line-height: 1.6;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

.footer {
    bottom: 0;
    color: #2A2C3A;
    font-size: 1rem;
    height: 3.4375rem;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.btn-navbar {
    background-color: #276AD1;
    color: white;
}

.btn-navbar:hover {
    background-color: #2666CA;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: white;
    width: 1.875rem;
}

.hamburger:hover {
    opacity: 100;
}

.hamburger-inner:hover {
    background-color: white;
}

.ng-hide.ng-hide-animate {
    display: none !important;
}

.ng-show.ng-show-animate {
    display: none !important;
}

#loading-bar .bar {
    background: #225DBC;
    height: 0.375rem;
}

tooltip {
    z-index: 1000;
}

a {
    color: #969696;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:hover {
    color: black;
}

.table-active, .table-active>th, .table-active>td {
    background-color: rgba(45, 118, 232, 0.1);
}

.table-hover tbody tr:hover {
    background-color: rgba(45, 118, 232, 0.05);
    border-left: 0.1875rem solid #2D76E8;
}

.table-hover .table-active:hover {
    background-color: rgba(45, 118, 232, 0.1);
}

.table-hover .table-active:hover>td, .table-hover .table-active:hover>th {
    background-color: rgba(45, 118, 232, 0.1);
}

.table-hover .table-success:hover {
    border-left: 0.1875rem solid #5cb85c;
}

.table-hover .table-danger:hover {
    border-left: 0.1875rem solid #d9534f;
}

.add-card {
    font-size: 2.625rem;
    height: 5rem;
    width: 5rem;
}

.card-center {
    float: none;
    margin: 0rem auto;
}

#page-content-wrapper {
    height: 100%;
    padding: 0.3125rem;
    position: absolute;
    width: 100%;
}

@media(min-width:48rem) {
    #page-content-wrapper {
        height: 100%;
        padding: 0.3125rem;
        position: relative;
    }
}

.modal-content {
    margin: 0 auto;
    width: inherit;
}

.modal-dialog {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    padding-top: 3.4rem;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 15.625rem;
}

.sidebar {
    background-color: rgba(45, 118, 232, 0.03);
    border-right: 0.125rem solid #DDDEDE;
}

.navbar {
    background-color: #2D76E8;
    border-bottom: 0.125rem solid #276AD1;
}

.btn-default {
    background-color: transparent;
    border: 0.0625rem solid #ddd;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btn-default:hover {
    background-color: #EDEDED;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    height: 100%;
    left: 15.625rem;
    margin-left: -15.625rem;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper {
    width: 15.625rem;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -15.625rem;
    position: absolute;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 15.625rem;
}

.sidebar-nav li {
    line-height: 2.5rem;
    list-style-type: none;
    text-indent: 0.625rem;
}

.sidebar-nav li a {
    border-left: 0.3125rem solid transparent;
    color: #333333;
    display: block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar-nav li a:hover {
    background: rgba(45, 118, 232, 0.07);
    border-left: 0.3125rem solid #2D76E8;
    text-decoration: none;
    transition: border-color .5s ease-in-out;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 1.125rem;
    height: 4.0625rem;
    line-height: 3.75rem;
    text-indent: 0.625rem;
}

.sidebar-nav>.sidebar-brand a {
    background: rgba(45, 118, 232, 0.07);
    border-bottom: 0.125rem solid rgba(45, 118, 232, 0.1);
    color: #333333;
    font-family: 'Lobster', sans-serif !important;
    font-size: 1.375rem;
    font-weight: 700;
    text-transform: none;
}

.sidebar-nav>.sidebar-brand a:hover {
    border-left: 0.3125rem solid transparent;
}

.sidebar-nav li>.classList {
    background: rgba(45, 118, 232, 0.07);
    text-decoration: none;
}

@media(min-width: 48rem) {
    #wrapper {
        padding-left: 15.625rem;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 15.625rem;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;
        position: relative;
    }
}

@media(max-width: 36rem) {
    .card {
        float: none;
        margin: 0rem auto;
    }
}

.no-courses {
    font-size: 3rem;
    height: 100%;
}

.super-container {
    height: 100%;
}

.splash {
    color: #2A2C3A;
    height: 100%;
    position: absolute;
    width: 100%;
}

.splash-header {
    font-family: 'Lobster', sans-serif !important;
}

.splash-header>h1 {
    font-size: 4.25rem;
}

.splash-body {
    font-size: 1.375rem;
    text-align: justify;
}

.login-back {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #56CCF2, #2F80ED);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #56CCF2, #2F80ED);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    overflow: hidden;
}

.img-login {
    display: block;
    height: 100%;
    transform: scale(1.03);
    width: auto;
    width: 100%;
}

.cropArea {
    background: #E4E4E4;
    height: 18.75rem;
    margin: auto;
    overflow: hidden;
    width: 25rem;
}

button.close {
    color: #000;
    cursor: pointer;
    opacity: .50;
    text-decoration: none
}

.handCursor {
    cursor: pointer;
}

.card {
    background-color: #fff;
    border: 0.125rem solid #DDDEDE;
    border-radius: 0.25rem;
    transition: border-color .3s ease-in-out;
    width: 25rem;
}

.card:hover {
    border: 0.125rem solid rgba(45, 118, 232, 0.5);
}

.btn-card {
    background-color: rgba(45, 118, 232, 0.4);
    border: 0;
    border-radius: 0;
    color: white;
    transition: background-color .2s ease-in-out;
}

.btn-card:hover {
    background-color: rgba(45, 118, 232, 0.7);
    color: white;
}

.card-header {
    background-color: white;
    border-bottom: 0rem;
    font-size: 1.125rem;
    margin: 0;
    padding: 0.75rem 1.25rem;
}

.card-footer {
    background-color: rgba(45, 118, 232, 0.09);
    border-top: 1.5px solid rgba(45, 118, 232, 0.1);
    font-size: 0.875rem;
    padding: 0.75rem 1.25rem;
}

.card-block {
    font-size: 0.875rem;
    padding: 0.50rem 1.25rem;
}

.border-right {
    border-right: 0.0625rem solid #ddd;
    height: 7.5rem;
}

.divide-header {
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

.divide-header>span {
    display: inline-block;
    position: relative;
}

.divide-header>span:before, .divide-header>span:after {
    background: #ddd;
    content: "";
    height: 0.0625rem;
    position: absolute;
    top: 50%;
    width: 624.9375rem;
}

.divide-header>span:before {
    margin-right: 0.9375rem;
    right: 100%;
}

.divide-header>span:after {
    left: 100%;
    margin-left: 0.9375rem;
}

.progress-wrapper {
    position: relative;
}

.progress-wrapper .text {
    -webkit-transform: translateY(-55%);
    font-size: 1.5rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-55%);
    width: 100%;
    z-index: 1;
}

.answer {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    border: 0.125rem dashed rgba(0, 0, 0, 0.200);
    color: rgba(0, 0, 0, 0.200);
    cursor: pointer;
    font-size: 1.5rem;
}

.answer:hover {
    border: 0.125rem dashed #2D76E8;
    color: rgba(0, 0, 0, 0.500);
}

.ct-inspector {
    background-color: #fff !important;
    border-top: 0.0625rem solid #ddd !important;
}

[data-editable] iframe, [data-editable] image, [data-editable] [data-ce-tag=img], [data-editable] img, [data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.select-inline {
    -moz-border-bottom-right-radius: 0rem;
    -moz-border-top-right-radius: 0rem;
    -webkit-border-bottom-right-radius: 0rem;
    -webkit-border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-right: 0;
    border-top-right-radius: 0rem;
}
