@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
html, body {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    text-rendering: optimizeLegibility;
}

html, body {
    background-color: #F8F9FA;
    height: 100%;
    overflow-x: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.add-card {
    font-size: 42px;
    height: 80px;
    width: 80px;
}

.card-center {
    float: none;
    margin: 0px auto;
}

#page-content-wrapper {
    height: 100%;
    padding: 5px;
    position: absolute;
    width: 100%;
}

@media(min-width:768px) {
    #page-content-wrapper {
        height: 100%;
        padding: 5px;
        position: relative;
    }
}

.modal-content {
    margin: 0 auto;
    width: inherit;
}

.modal-dialog {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    position: absolute;
}


/* Sidebar Styles */

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}

.sidebar-nav li {
    list-style-type: none;
    line-height: 40px;
    text-indent: 10px;
}

.sidebar-nav li a {
    color: #9EACD0;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: #354A60;
    color: #59BC61;
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
    text-indent: 10px;
}

.sidebar-nav>.sidebar-brand a {
    background: #354A60;
    color: white;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: white;
}

.sidebar-nav li>.classList {
    text-decoration: none;
    background: #243342;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;
        position: relative;
    }
}

@media(max-width: 576px) {
    .card {
        float: none;
        margin: 0px auto;
    }
}

.no-courses {
    font-size: 48px;
    height: 100%;
}

.super-container {
    height: 100%;
    min-height: 75rem;
    padding-top: 3.5rem;
}

.login-back {
    -webkit-filter: blur(5px) grayscale(50%);
    height: 100%;
}

.img-login {
    display: block;
    height: 100%;
    transform: scale(1.03);
    width: auto;
    width: 100%;
}

.cropArea {
    background: #E4E4E4;
    height: 300px;
    margin: auto;
    overflow: hidden;
    width: 400px;
}

button.close {
    color: #000;
    cursor: pointer;
    opacity: .50;
    text-decoration: none
}

.handCursor {
    cursor: pointer;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;
    width: 400px;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin: 0;
    background-color: #ECF0F1;
    border-bottom: 0px;
    font-size: 18px;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: 0px;
    font-size: 14px;
}

.card-block {
    padding: 0.50rem 1.25rem;
    font-size: 14px;
}

.border-right {
    height: 120px;
    border-right: 1px solid #ddd;
}

.divide-header {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.divide-header > span {
    position: relative;
    display: inline-block;
}

.divide-header > span:before,
.divide-header > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #ddd;
}

.divide-header > span:before {
    right: 100%;
    margin-right: 15px;
}

.divide-header > span:after {
    left: 100%;
    margin-left: 15px;
}

.progress-wrapper {
    position: relative;
}

.progress-wrapper .text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-55%);
    -webkit-transform: translateY(-55%);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-size: 24px;
}

.card-add {
    background-color: transparent !important;
    border: 2px dashed #45b7cd !important;
    height: 200px;
    width: 200px !important;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;
    width: 400px;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin: 0;
    background-color: #ECF0F1;
    border-bottom: 0px;
    font-size: 18px;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: 0px;
    font-size: 14px;
}

.ct-inspector {
    background-color: #fff !important;
    border-top: 1px solid #ddd !important;
}
