@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lobster');
html, body, input, button, select, ul, li, auto-complete {
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    text-rendering: optimizeLegibility !important;
}

html, body {
    background-color: #F8F9FA;
    font-weight: 400;
    height: 100%;
    line-height: 1.6;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

.footer {
    z-index: 1000;
    font-size: 16px;
    position: absolute;
    color: #2A2C3A;
    bottom: 0;
    width: 100%;
    height: 55px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    background-color: white;
}

.hamburger:hover {
    opacity: 100;
}

.hamburger-inner:hover {
    background-color: white;
}

.ng-hide.ng-hide-animate {
    display: none !important;
}

.ng-show.ng-show-animate {
    display: none !important;
}

#loading-bar .bar {
    background: #90E1B1;
    height: 6px;
}

tooltip {
    z-index: 1000;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.add-card {
    font-size: 42px;
    height: 80px;
    width: 80px;
}

.card-center {
    float: none;
    margin: 0px auto;
}

#page-content-wrapper {
    height: 100%;
    padding: 5px;
    position: absolute;
    width: 100%;
}

@media(min-width:768px) {
    #page-content-wrapper {
        height: 100%;
        padding: 5px;
        position: relative;
    }
}

.modal-content {
    margin: 0 auto;
    width: inherit;
}

.modal-dialog {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

#wrapper {
    padding-top: 3.4rem;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
    position: absolute;
}


/* Sidebar Styles */

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}

.sidebar-nav li {
    line-height: 40px;
    list-style-type: none;
    text-indent: 10px;
}

.sidebar-nav li a {
    color: #A0ABBF;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-left: 5px solid transparent;
}

.sidebar-nav li a:hover {
    background: #354A60;
    color: white;
    text-decoration: none;
    border-left: 5px solid #14A4FA;
    transition: border-color .5s ease-in-out;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
    text-indent: 10px;
}

.sidebar-nav>.sidebar-brand a {
    color: white;
    text-transform: none;
    font-size: 18px;
    font-weight: 700;
    background: #354A60;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: white;
    border-left: 5px solid transparent;
}

.sidebar-nav li>.classList {
    background: #243342;
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;
        position: relative;
    }
}

@media(max-width: 576px) {
    .card {
        float: none;
        margin: 0px auto;
    }
}

.no-courses {
    font-size: 48px;
    height: 100%;
}

.super-container {
    height: 100%;
}

.splash {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #2A2C3A;
}

.splash-header {
    font-family: 'Lobster', sans-serif !important;
}

.splash-header>h1 {
    font-size: 68px;
}

.splash-body {
    font-size: 22px;
    text-align: justify;
}

.login-back {
    background: #E8CBC0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E8CBC0, #636FA4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E8CBC0, #636FA4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    overflow: hidden;
}

.img-login {
    display: block;
    height: 100%;
    transform: scale(1.03);
    width: auto;
    width: 100%;
}

.cropArea {
    background: #E4E4E4;
    height: 300px;
    margin: auto;
    overflow: hidden;
    width: 400px;
}

button.close {
    color: #000;
    cursor: pointer;
    opacity: .50;
    text-decoration: none
}

.handCursor {
    cursor: pointer;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;
    width: 400px;
}

.card-header {
    background-color: #ECF0F1;
    border-bottom: 0px;
    font-size: 18px;
    margin: 0;
    padding: 0.75rem 1.25rem;
}

.card-footer {
    background-color: #fff;
    border-top: 0px;
    font-size: 14px;
    padding: 0.75rem 1.25rem;
}

.card-block {
    font-size: 14px;
    padding: 0.50rem 1.25rem;
}

.border-right {
    border-right: 1px solid #ddd;
    height: 120px;
}

.sidebar-divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #2D3646;
    margin: 1em 0;
    padding: 0;
}

.divide-header {
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

.divide-header>span {
    display: inline-block;
    position: relative;
}

.divide-header>span:before, .divide-header>span:after {
    background: #ddd;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 9999px;
}

.divide-header>span:before {
    margin-right: 15px;
    right: 100%;
}

.divide-header>span:after {
    left: 100%;
    margin-left: 15px;
}

.progress-wrapper {
    position: relative;
}

.progress-wrapper .text {
    -webkit-transform: translateY(-55%);
    font-size: 24px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-55%);
    width: 100%;
    z-index: 1;
}

.card-add {
    background-color: transparent !important;
    border: 2px dashed #45b7cd !important;
    height: 200px;
    width: 200px !important;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;
    width: 400px;
}

.card-header {
    background-color: #ECF0F1;
    border-bottom: 0px;
    font-size: 18px;
    margin: 0;
    padding: 0.75rem 1.25rem;
}

.card-footer {
    background-color: #fff;
    border-top: 0px;
    font-size: 14px;
    padding: 0.75rem 1.25rem;
}

.answer {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    border: 2px dashed rgba(0, 0, 0, 0.200);
    color: rgba(0, 0, 0, 0.200);
    cursor: pointer;
    font-size: 24px;
}

.answer:hover {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    border: 2px dashed #45b7cd;
    color: rgba(0, 0, 0, 0.500);
}

.ct-inspector {
    background-color: #fff !important;
    border-top: 1px solid #ddd !important;
}

[data-editable] iframe, [data-editable] image, [data-editable] [data-ce-tag=img], [data-editable] img, [data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.table-bordered {
    border: 1px solid rgba(0, 0, 0, 0.100) !important;
    border-radius: 25px;
}

.table-bordered th, .table-bordered td {
    border: 1px solid rgba(0, 0, 0, 0.100) !important;
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

.checkbox label::before {
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    width: 17px;
}

.checkbox label::after {
    color: #555555;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
    content: "\f00c";
    font-family: 'FontAwesome';
}

.checkbox input[type="checkbox"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

.radio label::before {
    -o-transition: border 0.15s ease-in-out;
    -webkit-transition: border 0.15s ease-in-out;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    top: 3px;
    transition: border 0.15s ease-in-out;
    width: 17px;
}

.radio label::after {
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -webkit-transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    background-color: #555555;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 11px;
    left: 3px;
    margin-left: -20px;
    position: absolute;
    top: 6px;
    transform: scale(0, 0);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    width: 11px;
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"]+label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"]+label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"]+label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"]+label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"]+label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::after {
    background-color: #5cb85c;
}

.tt-dropdown-menu, .gist {
    text-align: left;
}

.tt-hint {
    color: #999
}

.twitter-typeahead {
    float: left;
    position: relative;
    width: 100%;
}

.twitter-typeahead>.form-control {
    height: 37px;
    width: inherit !important;
}

.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.select-inline {
    -moz-border-bottom-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0;
    border-top-right-radius: 0px;
}

.tt-menu {
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
    padding: 8px 0;
    text-rendering: optimizeLegibility;
    width: auto;
}

.tt-suggestion {
    line-height: 24px;
    padding: 3px 20px;
}

.tt-suggestion:hover {
    background-color: #2C3D50;
    color: #fff;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-color: #2C3D50;
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}
