<div class="animated fadeIn container-fluid p-3 animated fadeIn height-100" ng-controller="Instructor.Edit.Lecture.Controller">
    <div class="container-fluid p-0 pb-2">
        <div class="input-group" ng-show="searchType.type =='all'">
            <select class="custom-select select-inline" ng-options="item.title for item in options" ng-model="searchType"></select>
            <tags-input
                ng-model="selectedQuestion"
                display-property="title"
                style="width: 100%; height: 37px;"
                placeholder=" "
                max-tags="1"
                add-from-autocomplete-only="true"
                replace-spaces-with-dashes="false">
                    <auto-complete
                        source="loadQuestions($query)"
                        min-length="1"
                        debounce-delay="1000"
                        max-results-to-show="15"
                        template="questions-template">
                    </auto-complete>
            </tags-input>
            <span class="input-group-btn">
                <button class="btn btn-outline-success" type="button" ng-click="addQuestion()" ng-disabled="checkSelectedQuestion()">
                    <span ng-show="addLoading">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </span>
                    Add Question
                </button>
            </span>
        </div>
        <div class="input-group" ng-show="searchType.type == 'sets'">
            <select class="custom-select select-inline" ng-options="item.title for item in options" ng-model="searchType"></select>
            <tags-input
                ng-model="selectedQuestionSet"
                display-property="title"
                style="width: 100%; height: 37px;"
                placeholder=" "
                max-tags="1"
                add-from-autocomplete-only="true"
                replace-spaces-with-dashes="false">
                    <auto-complete
                        source="loadQuestionSets($query)"
                        min-length="1"
                        debounce-delay="1000"
                        max-results-to-show="15"
                        template="sets-template">
                    </auto-complete>
            </tags-input>
            <span class="input-group-btn">
                <button class="btn btn-outline-success" type="button" ng-click="addQuestionSet()" ng-disabled="checkSelectedQuestionSet()">
                    <span ng-show="addLoading">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </span>
                    Add Question Set
                </button>
            </span>
        </div>
        <ul class="list-group pt-2" ui-sortable="sortableOptions" ng-model="lecture.questions">
            <li class="list-group-item list-group-item-action justify-content-between p-1" ng-repeat="question in lecture.questions">
                <div>
                    <i class="fa fa-bars fa-fw" aria-hidden="true"></i> {{question.title}}
                </div>
                <div>
                    <span class="badge badge-default badge-pill mr-1 text-uppercase" ng-repeat="tag in question.tags | limitTo:4">{{tag}}</span>
                    <span class="badge ml-2 mr-2" ng-class="{ 'badge-success': !question.copied, 'badge-warning': question.copied }">Owner</span>
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-sm btn-secondary" type="button" ng-click="viewQuestion(question)">
                            <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                        </button>
                        <button ng-disabled="question.copied" class="btn btn-sm btn-secondary" type="button" ng-click="editQuestion(question)">
                            <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm btn-secondary" ng-disabled="removeLoading || addLoading" type="button" confirmed-click="removeQuestion(question)" ng-confirm-click="Are you sure you want to remove this question?">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="d-flex justify-content-between pt-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter set name..." ng-model="setName" ng-init="setName = ''">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-outline-success" ng-disabled="setName.length === 0" ng-click="createQuestionSet()">Save Question Set</button>
                </span>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="sets-template">
        <div>
            {{data.title}}
        </div>
    </script>
    <script type="text/ng-template" id="questions-template">
        <div class="d-flex justify-content-between">
            <div>
                {{data.title}}
            </div>
            <div>
                <span class="badge badge-default mr-1 text-uppercase" ng-repeat="tag in data.tags">{{tag}}</span>
                <span class="badge ml-2" ng-class="{ 'badge-success': (data.instructor_id === data.my_id), 'badge-warning': !(data.instructor_id === data.my_id) }">Owner</span>
            </div>
        </div>
    </script>
</div>
