extends default

block content
    +navmenu('main-nav', 'left', 'custom')
        .profile-container.clearfix
            +img-circle-left(photo)
            .contrainer
                p.uppercase.voffset3 #{username}
                p.capitalize.rounded-back #{role}
        .profile-sep.voffset3
        p.uppercase.voffset3 course list
    +navbar-menu('Active Learning 2110', 'main-nav')
    .container.dash
        h1.text-center #{id}

block extraScripts
    script(src='./scripts/dashboard.js')
