extends default

block content
    +navmenu('main-nav', 'left', 'custom')
        +img-circle-label('//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120', '', 'Keep it 100')
    +navbar-menu('Active Learning 2110', 'main-nav')
    .container
        h1.text-center #{username}
        h1.text-center #{id}
        h1.text-center #{role}
