<div class="container-fluid p-2">
    <!-- No courses display -->
    <div class="text-center no-courses" ng-show="$storage.courses.length === 0">
        <i class="fa fa-child fa-4x pb-4" aria-hidden="true"></i>
        <p>Add some courses!</p>
    </div>
    <!-- Courses cards  -->
    <div ng-show="$storage.courses.length !== 0">
        <div class="row" style="overflow: hidden;">
            <div class="col-md-4 pb-4" ng-repeat="course in $storage.courses">
                <div class="card animated fadeIn" ng-click="cardClick($index)">
                    <div class="card-header text-uppercase">
                        {{course.title}}
                    </div>
                    <div class="card-block">
                        <p class="card-text">ID: {{course._id}}</p>
                        <p class="card-text">Access Key: {{course.access_key}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{course.students.length}} Total Students Enrolled
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
