html, body {
    background-color: #F8F9FA;
}

.add-card {
    width: 80px;
    height: 80px;
    font-size: 42px;
}

#page-content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 5px;
}

@media(min-width:768px) {

    #page-content-wrapper {
        padding: 5px;
        position: relative;
        height: 100%;
    }
}
