//****************************************************************
//  app_client/components/tabs.pug                              //
//  Active Learning 2110                                        //
//                                                              //
//  Created by Jeremy Carter on 10/08/16.                       //
//  Copyright © 2016 Jeremy Carter. All rights reserved.        //
//                                                              //
//  Date        Name        Description                         //
//  -------     ---------   --------------                      //
//  08Oct16     J.Carter    Initial Design                      //
//                                                              //
//****************************************************************

//- Tabs
mixin tab-list(tabs, active)
    ul.nav.nav-tabs(role="tablist")
        each item, index in tabs
            if (index === active)
                li.active
                    a(href="#tab" + item, role="tab", data-toggle="tab")= item
            else
                li
                    a(href="#tab" + item, role="tab", data-toggle="tab")= item
    .tab-content
        block

mixin tab-list-justified(tabs, active)
    ul.nav.nav-justified.nav-tabs(role="tablist")
        each item, index in tabs
            if (index === active)
                li.active
                    a(href="#tab" + item, role="tab", data-toggle="tab")= item
            else
                li
                    a(href="#tab" + item, role="tab", data-toggle="tab")= item
    .tab-content
        block

//- Tab pane
mixin tab(id, active)
    if(active)
        .tab-pane.active(id="tab" + id)
            block
    else
        .tab-pane(id="tab" + id)
            block
