//****************************************************************
//  app_client/scss/stylesheets/style.scss                      //
//  Active Learning 2110                                        //
//                                                              //
//  Created by Jeremy Carter on 10/08/16.                       //
//  Copyright © 2016 Jeremy Carter. All rights reserved.        //
//                                                              //
//  Date        Name        Description                         //
//  -------     ---------   --------------                      //
//  08Oct16     J.Carter    Initial Design                      //
//                                                              //
//****************************************************************

@import 'typography';
@import 'variables';
@import 'mixins';

.voffset
{
    margin-top: 2px;
}
.voffset1
{
    margin-top: 5px;
}
.voffset2
{
    margin-top: 10px;
}
.voffset3
{
    margin-top: 15px;
}
.voffset4
{
    margin-top: 30px;
}
.voffset5
{
    margin-top: 40px;
}
.voffset6
{
    margin-top: 60px;
}
.voffset7
{
    margin-top: 80px;
}
.voffset8
{
    margin-top: 100px;
}
.voffset9
{
    margin-top: 150px;
}

.vcenter
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.paddingt1
{
    padding-top: 1px;
}

.im-centered
{
    margin: auto;
    max-width: 300px;
}

p
{
    margin-bottom: 0;

    &.uppercase
    {
        text-transform: uppercase;
    }
    &.capitalize
    {
        text-transform: capitalize;
    }
}

html, body
{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, p, div
{
    font-family: $base-font-family !important;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 700;
}

.light-text
{
    color: white;
}

.dark-grey-bg
{
    background-color: $medium-gray-color;
    color: white;
}

.light-grey-bg
{
    background-color: $light-gray-color;
}

.input-group > .form-group > .form-control
{
    @include placeholder
    {
        font-style: italic;
        color: $medium-gray-color;
        text-transform: uppercase;
    }
    padding-left: 5px;
    padding-right: 5px;
}

.main-container
{
    background-color: $back-grey-color;
    min-height: 100%;
    height: auto !important; /* cross-browser */
    height: 100%;
}

.login-box
{
    background-color: white;
    font-size: $base-font-size;
    padding: $base-padding $base-padding;
    @include border-radius(5px);
}

.btn
{
    font-size: $button-font-size;
}

// Fixes Justified tabs on small screens
@media (max-width: 768px)
{
    .nav-justified > li
    {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a
    {
        border-bottom: 1px solid #ddd !important;
        border-radius: 4px 4px 0 0 !important;
        margin-bottom: 0 !important;
    }
}

.tgl
{
    display: none;

    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + .tgl-btn
    {
        box-sizing: border-box;
        &::selection
        {
            background: none;
        }
    }

    + .tgl-btn
    {
        outline: 0;
        display: block;
        width: 3.5em;
        height: 1.5em;
        position: relative;
        cursor: pointer;
        user-select: none;

        &:after,
        &:before
        {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }

        &:after
        {
            left: 0;
        }

        &:before
        {
            display: none;
        }
    }

    &:checked + .tgl-btn:after
    {
        left: 50%;
    }
}

.toggle-group
{
    [class*="col-"]
    {
        padding-left: 0 !important;
        padding-right: 10px !important;
    }
    font-size: $button-font-size;
}

.center-items
{
    float: none;
    margin: 0 auto;
}

// themes
.tgl-light
{
    + .tgl-btn
    {
        background: #f0f0f0;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;
        &:after
        {
            border-radius: 50%;
            background: #fff;
            transition: all .2s ease;
        }
    }

    &:checked + .tgl-btn
    {
        background: #9FD6AE;
    }
}

.tgl-ios
{
    + .tgl-btn
    {
        background: $light-gray-color;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;
        border: 1px solid #e8eae9;

        &:after
        {
            border-radius: 2em;
            background: #fbfbfb;
            transition: left .3s cubic-bezier(0.175, 0.885, 0.320, 1.275),
                padding .3s ease, margin .3s ease;
            box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 0 rgba(0,0,0,.08);
        }

        &:hover:after
        {
            will-change: padding;
        }

        &:active
        {
            box-shadow: inset 0 0 0 2em #e8eae9;

            &:after
            {
                padding-right: .8em;
            }
        }
    }

    &:checked + .tgl-btn
    {
        background: #86d993;
        &:active
        {
            box-shadow: none;
            &:after
            {
                margin-left: -.8em;
            }
        }
    }
}

.tgl-flat
{
    + .tgl-btn
    {
        padding: 2px;
        transition: all .2s ease;
        background: #fff;
        border: 4px solid #f2f2f2;
        border-radius: 2em;

        &:after
        {
            transition: all .2s ease;
            background: #f2f2f2;
            content: "";
            border-radius: 1em;
        }
    }

    &:checked + .tgl-btn
    {
        border: 4px solid #7FC6A6;

        &:after
        {
            left: 50%;
            background: #7FC6A6;
        }
    }
}

.navmenu-custom
{
    background: $dark-blue-text;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 0 0;
    color: white;
    border-color: $dark-blue-text;
}

.navbar
{
    display: block;
    text-align: center;
}

.navbar-brand
{
    font-size: 25px;
    position: absolute;
    left: 50%;
    margin-left: -110px !important;
    display: block;
}

.container
{
    max-width: 100%;
}

.container.dash
{
    padding: 50px 0 0 0;
}

@media (min-width: 1px)
{
    .navbar-toggle
    {
        display: block !important;
    }
}

@media (min-width: 992px)
{
    .navmenu
    {
        padding-top: 50px 0 0 0;
    }
}

.profile-container
{
    margin: 10px 10px 10px 10px;
    text-align: left;

    > .img-circle
    {
        width: 95px;
        height: 95px;
        border: 3px solid #51D2B7;
        margin-right: 10px;
    }
}

.rounded-back
{
    background-color: lighten($dark-blue-text, 10%);
    border-radius: 25px;
}

.profile-sep
{
    border-top: 2px dotted lighten($dark-blue-text, 10%);
}

.navbar-toggle
{
    float: left;
    border: none;
    background: transparent !important;

    &:hover
    {
        background: transparent !important;
    }

    .icon-bar
    {
        width: 22px;
        transition: all 0.5s;
    }
    .top-bar
    {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar
    {
        opacity: 0;
    }
    .bottom-bar
    {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    &.collapsed
    {
        .top-bar
        {
            transform: rotate(0);
        }
        .middle-bar
        {
            opacity: 1;
        }
        .bottom-bar
        {
            transform: rotate(0);
        }
    }
}
