//****************************************************************
//  app_client/scss/stylesheets/variables.scss                  //
//  Active Learning 2110                                        //
//                                                              //
//  Created by Jeremy Carter on 10/08/16.                       //
//  Copyright © 2016 Jeremy Carter. All rights reserved.        //
//                                                              //
//  Date        Name        Description                         //
//  -------     ---------   --------------                      //
//  08Oct16     J.Carter    Initial Design                      //
//                                                              //
//****************************************************************

// Typography
$base-font-family: 'Roboto Condensed', sans-serif;
$mono-font-family: 'Fira Mono', monospace;

// Font Sizes
$base-font-size: 1.5em;
$hint-font-size: 1.1em;
$button-font-size: 0.9em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Paddings
$base-padding: 40px;

// Colors - THESE ARE PLACE HOLDERS (EXAMPLES)
$primary-background: #25243E;
$primary-color: #fff;
$action-color: $primary-color;
$black-color: #000;
$blue-color: #0086B3;
$dark-gray-color: #2A2C39;
$medium-gray-color: #999;
$light-gray-color: #E3E8EE;
$back-purple-color: #333359;
$accent-purple-color: #8b23e8;
$accent-pink-color: #fe026c;
$accent-green-color: #00ff97;
$accent-blue-color: #0febfa;
$back-grey-color: #EBEFF2;
$back-red-color: #462f4f;

// Box Shadows
$box-shadow-color: rgba(0, 0, 0, 0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
