<div class="login modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="text-center pb-4">
                    Register for Course
                    <button type="btn float-right" class="close" data-dismiss="modal">&times;</button>
                </h4>
                <form name="courseForm" class="text-center">
                    <div class="input-group mb-3">
                        <div class="input-group-addon"><i class="fa fa-book fa-fw" aria-hidden="true"></i></div>
                        <input name="course" class="form-control" type="text" ng-model="course" placeholder="Course Key" required />
                    </div>
                    <div ng-if="error" class="alert alert-danger">{{error}}</div>
                    <button class="btn btn-outline-success" ng-click="join()" ng-disabled="courseForm.$invalid">
                        <span ng-show="loading">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </span>
                        Join
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
