<div class="container-fluid p-2" ng-controller="Admin.Keys.Controller">
    <div class="container-fluid p-0 pb-2">
        <div class="input-group">
            <span class="input-group-btn">
                <button
                    class="btn btn-secondary"
                    type="button"
                    ng-click="copySuccess(section.name)"
                    ngclipboard
                    ng-disabled="generatedKey === null"
                    data-clipboard-text="{{generatedKey}}">
                    <i class="fa fa-clipboard fa-fw" aria-hidden="true"></i>
                </button>
            </span>
            <input type="text" class="form-control" placeholder="Instructor Key" ng-model="generatedKey" readonly>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" ng-click="getInstructorKey()" ng-disabled="keyLoading">
                    <span ng-show="keyLoading">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </span>
                    Instructor Key
                </button>
            </span>
      </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="error">
            <button type="button" class="close" aria-label="Close" ng-click="error = null">
                <span aria-hidden="true">&times;</span>
            </button>
            {{error}}
        </div>
    </div>

    <table ng-table="tableParams" class="table table-bordered table-sm text-center">
        <tr ng-repeat="key in $data">
            <td class="align-middle text-capitalize" title="'First'" sortable="'firstname'">
                {{key.user.firstname}}
            </td>
            <td class="align-middle text-capitalize" title="'Last'" sortable="'lastname'">
                {{key.user.lastname}}
            </td>
            <td title="'Username'" sortable="'username'">
                {{key.user.username}}
            </td>
            <td title="'Key'">
                {{key.key}}
            </td>
        </tr>
    </table>
</div>

<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
