<div class="modal fade align-middle" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center pb-2">
                    <span>{{title}}</span>
                    <button
                        type="btn float-right"
                        ng-click="toggleRegister()"
                        class="close"
                        ng-show="register">
                        &times;
                    </button>
                </h2>
                <!-- Login Form -->
                <form name="loginForm">
                    <div
                        class="form-group"
                        ng-class="{ 'has-danger': loginForm.email.$touched && (loginForm.email.$error.invalidGatech
                                    || loginForm.email.$invalid) }">
                        <label for="email" class="sr-only">E-Mail</label>
                        <input
                            placeholder="Email Address"
                            type="email"
                            name="email"
                            class="form-control"
                            ng-model="email"
                            required gatech/>
                    </div>
                    <div
                        class="form-group" n
                        g-class="{ 'has-danger': loginForm.password.$touched && (loginForm.password.$invalid
                                   || loginform.password.$error.minlength) }">
                        <label for="password" class="sr-only">Password</label>
                        <input
                            placeholder="Password"
                            type="password"
                            name="password"
                            class="form-control"
                            ng-minlength="5"
                            ng-model="password"
                            required />
                    </div>
                    <!-- Extra Register Fields -->
                    <div
                        class="form-group"
                        ng-show="register"
                        ng-class="{ 'has-danger': loginForm.passwordVerify.$touched && (loginForm.passwordVerify.$invalid
                                    || loginForm.passwordVerify.$error.minlength || loginform.passwordVerify.$error.invalidEqPass) }">
                        <label for="passwordVerify" class="sr-only">Verify Password</label>
                        <input
                            placeholder="Verify Password"
                            type="password"
                            name="passwordVerify"
                            class="form-control"
                            ng-minlength="5"
                            ng-model="passwordVerify"
                            ng-required="register"
                            verifypass/>
                    </div>
                    <div class="input-group pb-2" ng-show="register">
                        <span class="input-group-addon">
                            <button
                                ng-model="professor"
                                type="button"
                                class="btn btn-outline-success"
                                ng-click="professorClick()"
                                data-toggle="button"
                                aria-pressed="false"
                                autocomplete="off">
                                Professor
                            </button>
                        </span>
                        <input
                            placeholder="Professor Key"
                            name="professorKey"
                            type="text"
                            ng-disabled="!professor"
                            class="form-control"
                            ng-minlength="5"
                            ng-model="professorKey"
                            ng-required="professor"/>
                    </div>
                    <!-- Error Message -->
                    <div ng-if="error" class="alert alert-danger">{{error}}</div>
                    <!-- Login/Register Buttons -->
                    <div class="form-group pt-1">
                        <div ng-class="{ 'btn-toolbar justify-content-between': !register,
                                         'text-center': register }" role="toolbar">
                            <div class="btn-group" role="group" >
                                <button
                                    ng-click="submit()"
                                    ng-disabled="loginForm.$invalid"
                                    class="btn btn-outline-primary">
                                    <span ng-show="loading">
                                        <i class="fa fa-circle-o-notch fa-spin"></i>
                                    </span>
                                    {{title}}
                                </button>
                            </div>
                            <button
                                class="btn btn-outline-primary"
                                ng-hide="register"
                                class="ng-hide"
                                ng-click="toggleRegister()">Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
